body {

    font-family: 'Raleway', regular;

    font-size: 15px;
    line-height: 1.6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.header {
    position: fixed;
    height: 85px;
    width: 100%;
    padding: 20px;
    z-index: 1;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 30px;
    font-weight: 700;
}
.nav {
    font-size: 16px;
}
.nav__link {
    border-radius: 25px;
    width: 120px;
    height: 33px;
    display: inline-block;
    margin: 0 15px;
    position: relative;
    padding-top: 2px;
    font-family: 'Raleway', medium;
    text-align: center;
    transition: color .1s linear;
}
.nav__link:after {
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

@media screen and (max-width: 880px) {
    .header {
        height:130px;
        width: 100%;
        padding-top: 0;
    }

    .header__inner {
        flex-wrap: wrap;
    }

    .nav__link {
        flex-direction: column;
        width: 100%;
        height: 2.5%;
        padding: 1px 0;
        margin: 0;
        font-size: 12px;
    }

    .nav {
        flex-direction: column;
        width: 100%;
        display: inline-block;
    }

    .header__logo {
        display: none;
    }
}